In [5]:
import pandas as pd
import numpy as np

In [17]:
notesNom="/Users/gilles/Downloads/LNS1M41 Notes-Majeure.csv"
notesNom=u"/Users/gilles/Downloads/LNS1U4-LNS1T2-NotesMineures.csv"
notesNom=u"/Users/gilles/Downloads/LNS1U4-LNS1T2-NotesMajeure.csv"
notesNom=u"/Users/gilles/Downloads/LNS2U2-QuizzBonus.csv"
dfNotes=pd.read_csv(notesNom,sep="\t",encoding="utf8")

In [18]:
dfNotes.set_index([u'Nom', u'Prénom'],inplace=True)

In [23]:
dfNotes

,,Numéro d'identification,Morpho1,Morpho2,Bizar1,Bizar2,Phono,Sem,Quizz3,Quizz4,Quizz5,Quizz6,Quizz7,Quizz7b,Quizz8
Nom,Prénom,,,,,,,,,,,,,,
ABDERREBI,CAMILLIA,374204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGROS,LAURINE,373772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AOKI,MOE,314671.0,19.799999,20.000000,18.670000,19.000000,18.00,14.00,12.0,15.0,13.0,15.0,12.0,12.0,15.0
ARCHAMBAULT,OMBELINE,366124.0,19.600000,19.799999,18.670000,18.670000,13.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARGELES,LUCIE,369794.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARNAULT,LOUISE,374809.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUDEBERT,AUDREY,334627.0,19.400000,19.600000,18.670000,18.670000,13.00,11.00,13.0,17.0,15.0,15.0,13.0,13.0,12.0
AUGUIN,LUCILE,374951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVRIL,ALICE,375537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZOULAY,MANON,375542.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BACHELET,VALENTINE,372947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BADRANE,RAINOU,371543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAGOLE,CHLOE,368246.0,NaN,NaN,NaN,NaN,3.00,3.00,NaN,17.0,15.0,13.0,15.0,12.0,12.0
BAZALGETTE-MOIROT,ALICE,349871.0,19.600000,19.200001,20.000000,18.670000,15.00,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEAUFORT,MADELEINE,367392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17.0,NaN,NaN,NaN,NaN
BEDJA,NOUDHRAT,340443.0,19.469999,20.000000,18.330000,18.889999,8.67,5.00,13.0,18.0,15.0,13.0,12.0,12.0,13.0
BEGUE,CAMILLE,365571.0,19.600000,19.600000,18.670000,18.000000,14.50,2.60,12.0,15.0,13.0,20.0,15.0,13.0,12.0
BELKHIR,ELEAH,367361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BELKHIRAOUI,CHAHIDA,352412.0,17.799999,18.600000,18.670000,18.670000,NaN,1.00,12.0,18.0,12.0,10.0,10.0,12.0,12.0
BENHAMED,KENZY,370936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERAT,EVE,375550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNADET,CLOE,370175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNAT,EMMA,366386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERTIN,MARGOT,366101.0,17.200001,17.400000,15.200000,15.200000,12.80,4.00,10.0,15.0,15.0,17.0,15.0,13.0,12.0
BIDOUX,HERMANCE,375554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BILLOINT,MARGAUX,369557.0,18.400000,20.000000,18.000000,18.670000,10.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BOHME,BARBARA,371798.0,19.000000,19.799999,20.000000,19.330000,16.00,10.00,15.0,15.0,NaN,20.0,20.0,15.0,12.0
BONDUELLE,LAURYANE,366213.0,19.600000,19.799999,19.330000,19.330000,17.50,12.00,13.0,20.0,15.0,13.0,10.0,13.0,13.0
BONNEAU,LAURA,367771.0,19.799999,20.000000,19.330000,20.000000,11.00,9.00,12.0,12.0,17.0,17.0,12.0,12.0,12.0
BOUCHERIT,LEA,366088.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RIDJALI,IMNA,373345.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROBERT,LOIS,375746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RODRIGUES,JULIE,367854.0,19.799999,20.000000,19.330000,20.000000,15.33,10.50,13.0,13.0,15.0,17.0,10.0,10.0,12.0
ROUFIE,ILONA,369624.0,20.000000,19.799999,19.110001,19.330000,17.00,10.00,15.0,17.0,12.0,18.0,12.0,15.0,13.0
ROUSSEY,LOUISE,371093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROUX,ELISE,375747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALEH,NANCY,373128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALVAGNAC,MAELENN,368162.0,18.799999,19.799999,20.000000,18.670000,16.00,10.00,12.0,15.0,17.0,17.0,12.0,15.0,13.0
SANCENOT,NINON,368396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SANCHEZ,MARIE,375748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SARRAUSTE,JEANNE,333971.0,19.299999,20.000000,18.670000,19.330000,11.50,5.00,13.0,15.0,15.0,18.0,15.0,13.0,13.0
SARRAUTE,MARIE,201677.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAUVAGE,CHARLINE,366304.0,20.000000,20.000000,19.330000,18.670000,6.60,7.20,10.0,15.0,15.0,17.0,15.0,13.0,12.0
SERRES,THEO,375093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIAM,CELINE,367874.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIRE,ELEONORE-MARIE,375749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SON,SEUNGHEE,378624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sultan,Agathe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUTEAU,DANAE,370727.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUYKERBUYCK,MARION,371095.0,19.600000,18.799999,NaN,NaN,13.00,7.50,NaN,18.0,12.0,15.0,12.0,10.0,13.0
TAPIE,LEA,373051.0,19.799999,19.799999,18.670000,19.330000,12.00,6.50,NaN,15.0,17.0,17.0,10.0,13.0,12.0
TARDIF,JULIETTE,367221.0,20.000000,20.000000,18.670000,19.330000,12.00,11.00,15.0,15.0,18.0,17.0,13.0,17.0,18.0
THEILLOUT,CAMILLE,367984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,12.0,NaN,NaN
THUBLIER,MANON,368697.0,19.600000,20.000000,18.330000,18.670000,9.50,9.33,NaN,13.0,NaN,17.0,10.0,13.0,12.0
TOUZALIN,CHLOE,365542.0,19.670000,20.000000,18.670000,19.330000,14.00,14.00,NaN,17.0,17.0,18.0,15.0,15.0,13.0
TROUIS,ALICIA,366374.0,19.000000,NaN,NaN,NaN,1.00,0.00,NaN,NaN,15.0,NaN,10.0,10.0,NaN
WEITMANN,AUDREY,365638.0,19.400000,19.400000,20.000000,18.670000,14.20,14.00,10.0,17.0,NaN,17.0,13.0,15.0,15.0
WHITE,MADELEINE ELIZABETH,374590.0,20.000000,20.000000,19.330000,20.000000,16.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIEDEMANN,MATHILDA,352054.0,18.799999,19.600000,16.670000,20.000000,10.00,8.00,NaN,NaN,15.0,13.0,NaN,NaN,13.0
ZAMBIB,SABRINA,370762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### sélection des colonnes
- notesCC pour le contrôle continu
- notesQuizz pour les quizz en CM

In [21]:
notesCC=[u'Prasi', u'Yomig1', u'Yomig2', u'KartinV', u'KartinT', u'NemasV', u'NemasT',
         u'CoupeMot', u'CoupeMorphe'
        ]
notesCC=u"Morpho1 Morpho2 Bizar1 Bizar2 Phono Sem".split(" ")
notesQuizz=sorted([u"Quizz%d"%(n+1) for n in range(2,8)]+[u"Quizz7b"])
for col in notesCC+notesQuizz:
    dfNotes[col]=pd.to_numeric(dfNotes[col].str.replace(",","."), errors='coerce', downcast="float")

In [22]:
dfNotes[notesCC+notesQuizz]

,,Morpho1,Morpho2,Bizar1,Bizar2,Phono,Sem,Quizz3,Quizz4,Quizz5,Quizz6,Quizz7,Quizz7b,Quizz8
Nom,Prénom,,,,,,,,,,,,,
ABDERREBI,CAMILLIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGROS,LAURINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AOKI,MOE,19.799999,20.000000,18.670000,19.000000,18.00,14.00,12.0,15.0,13.0,15.0,12.0,12.0,15.0
ARCHAMBAULT,OMBELINE,19.600000,19.799999,18.670000,18.670000,13.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARGELES,LUCIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARNAULT,LOUISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUDEBERT,AUDREY,19.400000,19.600000,18.670000,18.670000,13.00,11.00,13.0,17.0,15.0,15.0,13.0,13.0,12.0
AUGUIN,LUCILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVRIL,ALICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZOULAY,MANON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BACHELET,VALENTINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BADRANE,RAINOU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAGOLE,CHLOE,NaN,NaN,NaN,NaN,3.00,3.00,NaN,17.0,15.0,13.0,15.0,12.0,12.0
BAZALGETTE-MOIROT,ALICE,19.600000,19.200001,20.000000,18.670000,15.00,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BEAUFORT,MADELEINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17.0,NaN,NaN,NaN,NaN
BEDJA,NOUDHRAT,19.469999,20.000000,18.330000,18.889999,8.67,5.00,13.0,18.0,15.0,13.0,12.0,12.0,13.0
BEGUE,CAMILLE,19.600000,19.600000,18.670000,18.000000,14.50,2.60,12.0,15.0,13.0,20.0,15.0,13.0,12.0
BELKHIR,ELEAH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BELKHIRAOUI,CHAHIDA,17.799999,18.600000,18.670000,18.670000,NaN,1.00,12.0,18.0,12.0,10.0,10.0,12.0,12.0
BENHAMED,KENZY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERAT,EVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNADET,CLOE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNAT,EMMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERTIN,MARGOT,17.200001,17.400000,15.200000,15.200000,12.80,4.00,10.0,15.0,15.0,17.0,15.0,13.0,12.0
BIDOUX,HERMANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BILLOINT,MARGAUX,18.400000,20.000000,18.000000,18.670000,10.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BOHME,BARBARA,19.000000,19.799999,20.000000,19.330000,16.00,10.00,15.0,15.0,NaN,20.0,20.0,15.0,12.0
BONDUELLE,LAURYANE,19.600000,19.799999,19.330000,19.330000,17.50,12.00,13.0,20.0,15.0,13.0,10.0,13.0,13.0
BONNEAU,LAURA,19.799999,20.000000,19.330000,20.000000,11.00,9.00,12.0,12.0,17.0,17.0,12.0,12.0,12.0
BOUCHERIT,LEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RIDJALI,IMNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROBERT,LOIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RODRIGUES,JULIE,19.799999,20.000000,19.330000,20.000000,15.33,10.50,13.0,13.0,15.0,17.0,10.0,10.0,12.0
ROUFIE,ILONA,20.000000,19.799999,19.110001,19.330000,17.00,10.00,15.0,17.0,12.0,18.0,12.0,15.0,13.0
ROUSSEY,LOUISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROUX,ELISE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALEH,NANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALVAGNAC,MAELENN,18.799999,19.799999,20.000000,18.670000,16.00,10.00,12.0,15.0,17.0,17.0,12.0,15.0,13.0
SANCENOT,NINON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SANCHEZ,MARIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SARRAUSTE,JEANNE,19.299999,20.000000,18.670000,19.330000,11.50,5.00,13.0,15.0,15.0,18.0,15.0,13.0,13.0
SARRAUTE,MARIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAUVAGE,CHARLINE,20.000000,20.000000,19.330000,18.670000,6.60,7.20,10.0,15.0,15.0,17.0,15.0,13.0,12.0
SERRES,THEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIAM,CELINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIRE,ELEONORE-MARIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SON,SEUNGHEE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sultan,Agathe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUTEAU,DANAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUYKERBUYCK,MARION,19.600000,18.799999,NaN,NaN,13.00,7.50,NaN,18.0,12.0,15.0,12.0,10.0,13.0
TAPIE,LEA,19.799999,19.799999,18.670000,19.330000,12.00,6.50,NaN,15.0,17.0,17.0,10.0,13.0,12.0
TARDIF,JULIETTE,20.000000,20.000000,18.670000,19.330000,12.00,11.00,15.0,15.0,18.0,17.0,13.0,17.0,18.0
THEILLOUT,CAMILLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,12.0,NaN,NaN
THUBLIER,MANON,19.600000,20.000000,18.330000,18.670000,9.50,9.33,NaN,13.0,NaN,17.0,10.0,13.0,12.0
TOUZALIN,CHLOE,19.670000,20.000000,18.670000,19.330000,14.00,14.00,NaN,17.0,17.0,18.0,15.0,15.0,13.0
TROUIS,ALICIA,19.000000,NaN,NaN,NaN,1.00,0.00,NaN,NaN,15.0,NaN,10.0,10.0,NaN
WEITMANN,AUDREY,19.400000,19.400000,20.000000,18.670000,14.20,14.00,10.0,17.0,NaN,17.0,13.0,15.0,15.0
WHITE,MADELEINE ELIZABETH,20.000000,20.000000,19.330000,20.000000,16.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIEDEMANN,MATHILDA,18.799999,19.600000,16.670000,20.000000,10.00,8.00,NaN,NaN,15.0,13.0,NaN,NaN,13.0
ZAMBIB,SABRINA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Calcul des notes avec bonification
Toutes les notes du CC (*nbCC*) comptent et on inclue aussi les *nbCC* meilleures notes des Quizz en partant de la meilleure une par une
- *notes* contient toutes les moyennes calculées
- on retourne le max de *notes*

In [37]:
def bonus(x):
    if x.notnull().any():
        notes=[]
        nbCC=len(notesCC)
        sommeNotes=float(x[notesCC].sum())
        bonusNotes=sorted([n for n in x[notesQuizz].tolist() if not np.isnan(n)],reverse=True)
        if len(bonusNotes)>nbCC:
            bonusNotes=bonusNotes[:nbCC]
        nbNotes=nbCC
        notes.append(round(sommeNotes/nbNotes+.25))
#        print "moyenne brut",sommeNotes/nbNotes,"bonus",bonusNotes
        for b in bonusNotes:
            sommeNotes+=b
            nbNotes+=1
            notes.append(round(sommeNotes/nbNotes+.25))
#        print notes
        return max(notes)
    else:
        return np.nan

### Ajout de la colonne **Notes** à la structure et exportation
- apply(lambda x: bonus(x), axis=1) permet d'appliquer la fonction bonus à chaque ligne
 - la fonction bonus reçoit une ligne de données complète
 - les valeurs sont accessibles par colonne

In [38]:
dfNotes["Note"]=dfNotes[notesCC+notesQuizz].apply(lambda x: bonus(x),axis=1)

In [39]:
dfNotes.to_csv(path_or_buf=notesNom.replace(".csv","-Final.csv"),sep="\t",encoding="utf8")

In [40]:
dfNotes

,,Numéro d'identification,Morpho1,Morpho2,Bizar1,Bizar2,Phono,Sem,Quizz3,Quizz4,Quizz5,Quizz6,Quizz7,Quizz7b,Quizz8,Note
Nom,Prénom,,,,,,,,,,,,,,,
ABDERREBI,CAMILLIA,374204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGROS,LAURINE,373772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AOKI,MOE,314671.0,19.799999,20.000000,18.670000,19.000000,18.00,14.00,12.0,15.0,13.0,15.0,12.0,12.0,15.0,18.0
ARCHAMBAULT,OMBELINE,366124.0,19.600000,19.799999,18.670000,18.670000,13.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
ARGELES,LUCIE,369794.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ARNAULT,LOUISE,374809.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUDEBERT,AUDREY,334627.0,19.400000,19.600000,18.670000,18.670000,13.00,11.00,13.0,17.0,15.0,15.0,13.0,13.0,12.0,17.0
AUGUIN,LUCILE,374951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVRIL,ALICE,375537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AZOULAY,MANON,375542.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BACHELET,VALENTINE,372947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BADRANE,RAINOU,371543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAGOLE,CHLOE,368246.0,NaN,NaN,NaN,NaN,3.00,3.00,NaN,17.0,15.0,13.0,15.0,12.0,12.0,8.0
BAZALGETTE-MOIROT,ALICE,349871.0,19.600000,19.200001,20.000000,18.670000,15.00,19.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
BEAUFORT,MADELEINE,367392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,17.0,NaN,NaN,NaN,NaN,5.0
BEDJA,NOUDHRAT,340443.0,19.469999,20.000000,18.330000,18.889999,8.67,5.00,13.0,18.0,15.0,13.0,12.0,12.0,13.0,16.0
BEGUE,CAMILLE,365571.0,19.600000,19.600000,18.670000,18.000000,14.50,2.60,12.0,15.0,13.0,20.0,15.0,13.0,12.0,16.0
BELKHIR,ELEAH,367361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BELKHIRAOUI,CHAHIDA,352412.0,17.799999,18.600000,18.670000,18.670000,NaN,1.00,12.0,18.0,12.0,10.0,10.0,12.0,12.0,13.0
BENHAMED,KENZY,370936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERAT,EVE,375550.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNADET,CLOE,370175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERNAT,EMMA,366386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BERTIN,MARGOT,366101.0,17.200001,17.400000,15.200000,15.200000,12.80,4.00,10.0,15.0,15.0,17.0,15.0,13.0,12.0,15.0
BIDOUX,HERMANCE,375554.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BILLOINT,MARGAUX,369557.0,18.400000,20.000000,18.000000,18.670000,10.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
BOHME,BARBARA,371798.0,19.000000,19.799999,20.000000,19.330000,16.00,10.00,15.0,15.0,NaN,20.0,20.0,15.0,12.0,18.0
BONDUELLE,LAURYANE,366213.0,19.600000,19.799999,19.330000,19.330000,17.50,12.00,13.0,20.0,15.0,13.0,10.0,13.0,13.0,18.0
BONNEAU,LAURA,367771.0,19.799999,20.000000,19.330000,20.000000,11.00,9.00,12.0,12.0,17.0,17.0,12.0,12.0,12.0,17.0
BOUCHERIT,LEA,366088.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RIDJALI,IMNA,373345.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROBERT,LOIS,375746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RODRIGUES,JULIE,367854.0,19.799999,20.000000,19.330000,20.000000,15.33,10.50,13.0,13.0,15.0,17.0,10.0,10.0,12.0,18.0
ROUFIE,ILONA,369624.0,20.000000,19.799999,19.110001,19.330000,17.00,10.00,15.0,17.0,12.0,18.0,12.0,15.0,13.0,18.0
ROUSSEY,LOUISE,371093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROUX,ELISE,375747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALEH,NANCY,373128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SALVAGNAC,MAELENN,368162.0,18.799999,19.799999,20.000000,18.670000,16.00,10.00,12.0,15.0,17.0,17.0,12.0,15.0,13.0,17.0
SANCENOT,NINON,368396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SANCHEZ,MARIE,375748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SARRAUSTE,JEANNE,333971.0,19.299999,20.000000,18.670000,19.330000,11.50,5.00,13.0,15.0,15.0,18.0,15.0,13.0,13.0,16.0
SARRAUTE,MARIE,201677.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAUVAGE,CHARLINE,366304.0,20.000000,20.000000,19.330000,18.670000,6.60,7.20,10.0,15.0,15.0,17.0,15.0,13.0,12.0,16.0
SERRES,THEO,375093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIAM,CELINE,367874.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SIRE,ELEONORE-MARIE,375749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SON,SEUNGHEE,378624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sultan,Agathe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUTEAU,DANAE,370727.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SUYKERBUYCK,MARION,371095.0,19.600000,18.799999,NaN,NaN,13.00,7.50,NaN,18.0,12.0,15.0,12.0,10.0,13.0,12.0
TAPIE,LEA,373051.0,19.799999,19.799999,18.670000,19.330000,12.00,6.50,NaN,15.0,17.0,17.0,10.0,13.0,12.0,17.0
TARDIF,JULIETTE,367221.0,20.000000,20.000000,18.670000,19.330000,12.00,11.00,15.0,15.0,18.0,17.0,13.0,17.0,18.0,17.0
THEILLOUT,CAMILLE,367984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,12.0,NaN,NaN,4.0
THUBLIER,MANON,368697.0,19.600000,20.000000,18.330000,18.670000,9.50,9.33,NaN,13.0,NaN,17.0,10.0,13.0,12.0,16.0
TOUZALIN,CHLOE,365542.0,19.670000,20.000000,18.670000,19.330000,14.00,14.00,NaN,17.0,17.0,18.0,15.0,15.0,13.0,18.0
TROUIS,ALICIA,366374.0,19.000000,NaN,NaN,NaN,1.00,0.00,NaN,NaN,15.0,NaN,10.0,10.0,NaN,6.0
WEITMANN,AUDREY,365638.0,19.400000,19.400000,20.000000,18.670000,14.20,14.00,10.0,17.0,NaN,17.0,13.0,15.0,15.0,18.0
WHITE,MADELEINE ELIZABETH,374590.0,20.000000,20.000000,19.330000,20.000000,16.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
WIEDEMANN,MATHILDA,352054.0,18.799999,19.600000,16.670000,20.000000,10.00,8.00,NaN,NaN,15.0,13.0,NaN,NaN,13.0,16.0
ZAMBIB,SABRINA,370762.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN